* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home/header */

/* home/body */

.top {
  display: flex;
}

.page-header {
  background-color: bisque;
  padding: 3%;
  text-align: center;
}

.sec1 {
  text-align: center;
}

.page-title {
  text-align: center;
  padding: 5% 0 5% 0;
}

.sec2 {
  padding: 5%;
}

.sec2 h3 {
  padding-left: 5%;
}

.sec2 p {
  padding-left: 10%;
}

.top-left {
  width: 50%;
  line-height: 5vh;
  background-image: lightyellow;
}

.link {
  display: flex;
  justify-content: center;
  text-align: center;
}

.link a {
  padding: 5%;
}

.link_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  padding: auto;
}

.container {
  width: 50%;
  height: 100vh;
}

/* itimaruスライドショー */

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
/* 写真の大きさ */
.sliderArea.w300 {
  max-width: 300px;
}
/* 各写真の隙間 */
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
/* slick-prevは付与されている矢印のクラス 
   z-indexは下に潜り込まないまないように */
.slick-prev,
.slick-next {
  z-index: 1;
}
/* 矢印の色 */
.slick-prev:before,
.slick-next:before {
  color: #000;
}
/* 他スライドを薄く */
.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: 0.7;
}

.slider .slick-list {
  overflow: visible;
}

.slider {
  max-width: 300px;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
